.product-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  background-color: black;
  width: 80%;
  padding: 20px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  color: black;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
  width: 300px;
  height: auto;
}
.card-text h2,
p {
  margin: 8px 0;
  text-align: left;
}
.product-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.product-price {
  font-weight: bold;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

button {
  background-color: black;
  color: white;
  /* border-radius: 50%;
  width: 25px;
  height: 25px; */
  margin-top: 10px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  margin-bottom: 30px;
}

.sub-heading {
  font-size: 12px;
  font-weight: lighter;
}

div {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-bottom: 20px;
}

label {
  margin-right: 20px;
}

table,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
